* {
    box-sizing: border-box;
}


body {
    color: white;
    background-image: linear-gradient(to right, #B06AB3, #4568DC);
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

#title {
    margin-top: 25px;
    font-size: 3.5rem;
}

#heading {
    font-size: 2rem;
}

#deck>div, #selected-cards {
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: inherit;
    justify-content: space-around;
    margin-top: 30px;
}

img {
    width: 75.9px;
    height: 110px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#selected-cards {
    margin-top: 60px;
    display: none;
}

#link {
    display: flex;
    justify-content: center;
}

.button {
    display: none;
}

a {
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    background: #F2385A;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 16px;
    font-size: 50px;
    border-radius: 10px;
    box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
    transition: all 0.05s;
    font-size: 1.2rem;
}

a:active {
    margin-top: 54px;
    box-shadow: 0px 7px 0px 0px #f02046;
}